@font-face { font-family: Hawaii; src: url('../fonts/Hawaii_Killer.ttf'); }
body {
	margin: 0px;
	padding: 0px;
	background: #FFFFFF url(images/bg01.png) repeat left top;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #797979;
}

h1, h2, h3 {
	margin-top: 0px;
	text-transform: lowercase;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
}

h1 {
	font-size: 42px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

p, ul, ol {
	margin-top: 0px;
	line-height: 160%;
}

ul, ol {
}

a {
	color: #0098A4;
}

a:hover {
	text-decoration: none;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	margin: 0px auto;
}

img.alignleft {
	margin-right: 20px;
}

img.alignright {
	margin-left: 20px;
}

a img {
	border: none;
}

/* Wrapper */

#wrapper {
	background: url(images/bg02.png) repeat-x left top;
}

/* Header */

#header {
	
	height: 130px;
	margin: 0px auto;
	/*background: url(images/bg03.png) repeat-x left top;*/
}

/* Logo */

#logo {
	float: left;
}

#logo h1, #logo h2 {
	float: left;
	margin: 0px;
         font-family: Hawaii;
 font-size: 50pt;
  color: whitesmoke;
}

#logo h1 {
	padding: 60px 0px 0px 30px;
}

#logo h2 {
	padding: 80px 0px 0px 10px;
}

#logo a {
	text-decoration: none;
	color: #797979;
}

#logo a:hover {
	text-decoration: underline;
	color: #0098A4;
}

#logo h2, #logo h2 a {
	font-size: 32px;
	color: #9F9F9F;
}

/* Menu */

#menu {
	float: right;
}

#menu ul {
	margin: 0px;
	padding: 78px 30px 0px 0px;
	list-style: none;
}

#menu li {
	float: left;
}

#menu a {
	padding: 0px 20px 0px 22px;
	background: url(images/img02.gif) no-repeat left center;
	text-decoration: none;
	text-transform: lowercase;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #7B7B7B;
}

#menu a:hover {
	text-decoration: underline;
	color: #0098A4;
}

#menu .first a {
	background: none;
}

/* Page */

#page {
	
	margin: 0px auto;
	display: block;
}


/* Content */

#content {
  background: url(images/content_top.png) repeat-x left top;
	float: left;
	min-width: 73%;
        width: 73%;
	padding: 50px 0px 0px 35px;
	-webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  background-color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 8px;
  box-shadow:0 0 10px 0 #555555;
  -webkit-box-shadow:0 0 10px 0 #555555;
  -moz-box-shadow:0 0 10px 0 #555555;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  margin:2px 10px 5px 20px;

}

.post {
  background:none;
  color:black;
}

.post .title {
	padding: 0px 0px 0px 15px;
	
}

.post .title h2, .post .title h3 {
	margin: 0px;
	
	background: #3e777c url(images/img03.gif) no-repeat right top;
}

.post .title h2 a, .post .title h3 a {
	text-decoration: none;
	color:whitesmoke;
}

.post .title h2 a:hover, .post .title h3 a:hover {
	text-decoration: underline;
}

.post .title p {
	margin: 0px;
	text-transform: lowercase;
	font-size: 16px;
	color: #8D8D8D;
}

.post .title p a {
	text-decoration: none;
	color: #8D8D8D;
}

.post .entry {
	padding: 15px 15px 25px 15px;
}

/* Sidebar */
.sidebar
{
  float: right;
  width: 250px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border: 2px solid whitesmoke;
  border-radius: 8px;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#427d81), to(#427d86));
  background: -moz-linear-gradient(#427d81,#427d86);
  background: linear-gradient(#427d81, #427d86);
  box-shadow:0 0 10px 0 #555555;
  -webkit-box-shadow:0 0 10px 0 #555555;
  -moz-box-shadow:0 0 10px 0 #555555;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  margin:5px 10px 5px 0px;
}

#sidebar {
	padding: 50px 10px 0px 0px;
	
}

#sidebar ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#sidebar li {
}

#sidebar li ul {
	margin: 15px 15px 25px 15px;
}

#sidebar li li {
	font-size: 11px;
}

#sidebar h2 {
	height: 27px;
	margin: 0px;
	padding: 3px 0px 0px 15px;
	background: url(images/img04.gif) repeat-x left top;
	font-size: 24px;
	color: #FFFFFF;
}

#sidebar a {
	color: #BCE8EC;
}

/* Footer */

#footer {

	height: 100px;
	margin: 0px auto;

}

#footer p {
	margin: 0px;
	padding: 30px 0px 0px 0px;
	text-align: center;
	font-size: 11px;
}

#footer a {
	color: #797979;
}